@using System.Data.Entity.Core.Metadata.Edm
@model SmartHomeProject.Models.DeviceManageModel
@{
    ViewData["Title"] = "Home Page";
}

<script src="../lib/jquery/dist/jquery.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Manage devices</h1>
    @{
        if (!Model.deleteErrored && !String.IsNullOrEmpty(Model.deletedDeviceName))
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Deletion Successful!</strong> The device <strong>@Model.deletedDeviceName</strong> was successfully deleted.
            </div>
        }
        else if (Model.deleteErrored && !String.IsNullOrEmpty(Model.deletedDeviceName))
        {

            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Deletion not successful!</strong> The device <strong>@Model.deletedDeviceName</strong> could not be deleted.
            </div>
        }
        else
        {
            <div class="alert alert-dismissible alert-secondary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Hint:</strong> With "Add Device" you can add new devices.
            </div>
        }

    }
    <table class="table table-hover">
        <tr class="table-primary">
            <th>Device name</th>
            <th>Symbol</th>
            <th>Type</th>
            <th>Location</th>
            <th>IP</th>
            <th>Port</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var device in Model.DeviceModels)
        {
            <tr>
                <td class="devicename">@device.name</td>
                <td>
                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(device.image))" width="20%" height="20%" />
                </td>
                <td>@device.type</td>
                <td>@device.location</td>
                <td>@device.ip</td>
                <td>@device.port</td>
                <td><span id="@(device.name)-status" class="badge badge-danger">Offline</span></td>
                <td>
                    <form asp-controller="Device" asp-action="EditDevice" method="post">
                        <input type="hidden" name="model" value="@device.name" />
                        <button type="submit" class="btn btn-primary" name="Edit" value="Edit"><i class="fas fa-code"></i> Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Device" asp-action="DeleteDevice" asp-route-returnURL="@Context.Request.Path" method="post">
                        <input type="hidden" name="model" value="@device.name" />
                        <button type="submit" class="btn btn-danger" name="Delete" value="Delete"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <script src="../js/DeviceStatus.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
        });
    </script>
</div>
