@using System.Data.Entity.Core.Metadata.Edm
@model SmartHomeProject.Models.DeviceModel[]
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Geräte</h1>
    <form>
        <table>
            <tr>
                <th>Device name</th>
                <th>Symbol</th>
                <th>Type</th>
                <th>Location</th>
                <th>Port</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var device in Model)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(device.Image))" width="20%" height="20%" />
                    </td>
                    <td>@device.Type</td>
                    <td>@device.Location</td>
                    <td>@device.port</td>
                    <td>
                        <form asp-controller="Device" asp-action="EditDevice" method="post">
                            <input type="hidden" name="model" value="@device.Name" />
                            <input type="submit" class="btn btn-info" name="Edit" value="Edit"/>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Device" asp-action="DeleteDevice" asp-route-returnURL="@Context.Request.Path" method="post">
                            <input type="hidden" name="model" value="@device.Name"/>
                            <input type="submit" class="btn btn-danger" name="Delete" value="Delete"/>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>
