@using System.Data.Entity.Core.Metadata.Edm
@model SmartHomeProject.Models.DeviceManageModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DeviceLayout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Geräte</h1>
    @{
        if (!Model.deleteErrored && !String.IsNullOrEmpty(Model.deletedDeviceName))
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Löschung Erfolgreich!</strong> Das Gerät <strong>@Model.deletedDeviceName</strong> wurde erfolgreich gelöscht.
            </div>
        }
        else if(Model.deleteErrored && !String.IsNullOrEmpty(Model.deletedDeviceName))
        {
            
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Löschung nicht Erfolgreich!</strong> Das Gerät <strong>@Model.deletedDeviceName</strong> konnte nicht gelöscht werden.
            </div>
        }
        else
        {
            <div class="alert alert-dismissible alert-secondary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Tipp:</strong> Mit "Add Device" kannst du neue Geräte hinzufügen.
            </div>
        }
        Console.WriteLine(Model.deleteErrored + " string: " + Model.deletedDeviceName);
    }
    <form>
        <table class="table table-hover">
            <tr class="table-primary">
                <th>Device name</th>
                <th>Symbol</th>
                <th>Type</th>
                <th>Location</th>
                <th>Port</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var device in Model.DeviceModels)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(device.Image))" width="20%" height="20%" />
                    </td>
                    <td>@device.Type</td>
                    <td>@device.Location</td>
                    <td>@device.port</td>
                    <td>
                        <form asp-controller="Device" asp-action="EditThis" method="post">
                            <input type="hidden" name="model" value="@device.Name" />
                            <input type="submit" class="btn btn-info" name="Edit" value="Edit This"/>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Device" asp-action="DeleteDevice" asp-route-returnURL="@Context.Request.Path" method="post">
                            <input type="hidden" name="model" value="@device.Name"/>
                            <input type="submit" class="btn btn-danger" name="Delete" value="Delete"/>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>
