@using System.Security.Cryptography.X509Certificates
@model DeviceEditModel

@{
    ViewData["Title"] = "Edit Device";
}

<script type="text/javascript">
    var devices = new Array();
    @foreach (var device in Model.DeviceModels)
    {
        @:devices.push({name: "@device.name", description: "@Html.Raw(device.description.Replace(System.Environment.NewLine, "\\n"))", type: "@device.type", location: "@device.location", port: "@device.port", ip: "@device.ip"});
    }
    function SelectionUpdate() {
        var name= document.getElementById("deviceSelect").value;
        for (i = 0; i < devices.length; i++)
        {
            if (devices[i].name == name) {
                document.getElementById("deviceNameNew").value = devices[i].name;
                document.getElementById("deviceType").value = devices[i].type;
                document.getElementById("deviceDescription").value = devices[i].description;
                document.getElementById("deviceLocation").value = devices[i].location;
                document.getElementById("deviceIP").value = devices[i].ip;
                document.getElementById("devicePort").value = devices[i].port;
                return;
            }
        }
    }
</script>
<h1 class="display-4 text-center">Device Manage</h1>
@{
    if (!Model.editingFailed && !String.IsNullOrEmpty(Model.deviceNameEdited))
    {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Editing successful!</strong> The device <strong>@Model.deviceNameEdited</strong> was successfully updated.
    </div>
    }
    else if (Model.editingFailed && !String.IsNullOrEmpty(Model.deviceNameEdited))
    {
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Editing not successful!</strong> The device <strong>@Model.deviceNameEdited</strong> could not be updated.
</div>
    }
}
<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Hint:</strong> Here you can change device properties. To manage functions, click on the tab <strong>"Functions"</strong>
</div>
<div class="text-center">
    <form asp-controller="Device" asp-action="EditDeviceSettings" method="POST">
        <label for="exampleSelect1">Select Device</label>
        <select name="selectedDevice" class="form-control" id="deviceSelect" onchange="SelectionUpdate()"  >
            @foreach (var device in Model.DeviceModels)
            {
                if (!(device.name == Model.selectedDeviceName))
                {
                    <option name="deviceName" value="@device.name">@device.name</option>
                }
                else
                {
                    <option selected="selected" name="deviceName" value="@device.name">@device.name</option>
                }
            }
        </select>
        <div class="form-group">
            <label for="deviceNameNew">Geräte Name</label>
            <input type="text" class="form-control" id="deviceNameNew"  name="deviceNameNew" placeholder="Enter device name">
        </div>
        <div class="form-group">
            <label for="deviceType">Device type</label>
            <select class="form-control" id="deviceType" value="" name="deviceType">
                <option value="Raspberry Pi">Raspberry Pi</option>
                <option value="Arduino">Arduino</option>
                <option value="Philips hue">Philips hue</option>
                <option value="Sonstige">Sonstige</option>
            </select>
        </div>
        <div class="form-group">
            <label for="deviceDescription">Description</label>
            <textarea class="form-control" id="deviceDescription"  name="deviceDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="deviceIP">Device IP</label>
            <input type="text"  class="form-control" id="deviceIP" name="deviceIP" placeholder="Enter IP address">
        </div>
        <div class="form-group">
            <label for="devicePort">Device port</label>
            <input type="text" class="form-control" id="devicePort"  name="devicePort" placeholder="Enter Port">
        </div>
        <div class="form-group">
            <label for="deviceLocation">Device location</label>
            <input type="text" class="form-control" id="deviceLocation"  name="deviceLocation" placeholder="Enter location">
        </div>
        <button type="submit" value="Save" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
    </form>


    <script>
        SelectionUpdate();
    </script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
</div>
