@using System.Security.Cryptography.X509Certificates
@model DeviceEditModel

@{
    ViewData["Title"] = "Edit Devie";
}

<script type="text/javascript">
    var devices = new Array();
    @foreach (var device in Model.DeviceModels)
    {
       @:devices.push({name: "@device.Name", description: "@device.description", type: "@device.Type", location: "@device.Location", port: "@device.port", ip: "@device.ip"});
        
    }
    function SelectionUpdate() {
        var name= document.getElementById("deviceSelect").value;
        for (i = 0; i < devices.length; i++)
        {
            if (devices[i].name == name) {
                document.getElementById("deviceNameNew").value = devices[i].name;
                document.getElementById("deviceType").value = devices[i].type;
                document.getElementById("deviceDescription").value = devices[i].description;
                document.getElementById("deviceLocation").value = devices[i].location;
                document.getElementById("deviceIP").value = devices[i].ip;
                document.getElementById("devicePort").value = devices[i].port;
                return;
            }
        }
    }
</script>
<h1 class="display-4 text-center">Geräte bearbeiten</h1>
@{
    if (!Model.editingFailed && !String.IsNullOrEmpty(Model.deviceNameEdited))
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Bearbeitung erfolgreich!</strong> Das Gerät <strong>@Model.deviceNameEdited</strong> wurde erfolgreich aktualisiert.
        </div>
    }
    else if (Model.editingFailed && !String.IsNullOrEmpty(Model.deviceNameEdited))
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Bearbeitung nicht erfolgreich!</strong> Das Gerät <strong>@Model.deviceNameEdited</strong> konnte nicht aktualisiert werden.
        </div>
    }
}
<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Hinweis:</strong> Hier kannst du Geräteeigenschaften ändern. Um Funktioninen zu verwalten, klicke auf den Register <strong>"Funktionen"</strong> 
</div>
<div class="text-center">
    <form asp-controller="Device" asp-action="EditDeviceSettings" method="POST">
        <label for="exampleSelect1">Select Device</label>
        <select name="selectedDevice" class="form-control" id="deviceSelect" name="deviceName" onchange="SelectionUpdate()"  >
            @foreach (var device in Model.DeviceModels)
            {
                if (!(device.Name == Model.selectedDeviceName))
                {
                    <option name="deviceName" value="@device.Name">@device.Name</option>
                }
                else
                {
                    <option selected="selected" name="deviceName" value="@device.Name">@device.Name</option>
                }
            }
        </select>
        <div class="form-group">
            <label for="deviceNameNew">Geräte Name</label>
            <input type="text" class="form-control" id="deviceNameNew"  name="deviceNameNew" placeholder="Geräte Name eingeben">
        </div>
        <div class="form-group">
            <label for="deviceType">Geräte Typ</label>
            <select class="form-control" id="deviceType" value="" name="deviceType">
                <option value="Raspberry Pi">Raspberry Pi</option>
                <option value="Arduino">Arduino</option>
                <option value="Philips hue">Philips hue</option>
                <option value="Sonstige">Sonstige</option>
            </select>
        </div>
        <div class="form-group">
            <label for="deviceDescription">Beschreibung</label>
            <textarea class="form-control" id="deviceDescription"  name="deviceDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="deviceIP">Geräte-IP</label>
            <input type="text"  class="form-control" id="deviceIP" name="deviceIP" placeholder="IP-Addresse eingeben">
        </div>
        <div class="form-group">
            <label for="devicePort">Geräte-Port</label>
            <input type="text" class="form-control" id="devicePort"  name="devicePort" placeholder="Port Eingeben">
        </div>
        <div class="form-group">
            <label for="deviceLocation">Gerätestandort</label>
            <input type="text" class="form-control" id="deviceLocation"  name="deviceLocation" placeholder="Standort eingeben">
        </div>
        <input type="submit" value="Speichern" class="btn btn-primary" />
    </form>


    <script>
        SelectionUpdate();
    </script>
</div>
