@model SmartHomeProject.Controllers.ControlModel
@{
    ViewData["Title"] = "Jarvis Control";
}

    
    @foreach (var device in Model.DeviceModels)
    {   
        
        <h1>@device.Name</h1>
        if (@device.DeviceFunctions == null)
        {
                   
        <hr />
        }
        else
        {

            foreach (var funtion in device.DeviceFunctions)
            {
                <div class="card text-white bg-success mb-3" id="(@device.Name@funtion.functionID)card" style="max-width: 15rem; max-height: 15rem; display: inline-block;">
                    <div class="card-header"><h1>@funtion.functionname</h1></div>
                        <div class="card-body">
                            <input type="submit" id="(@device.Name@funtion.functionID)button" value="Ausschalten" class="btn btn-danger" />
                            
                    </div>
                </div>
            }
            <hr />
        }
    }
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/JarvisRefresh.js"></script>
    
    
    