@model SmartHomeProject.Controllers.ControlModel
@{
    ViewData["Title"] = "Jarvis Control";
}


@foreach (var device in Model.DeviceModels)
{

    <h1 id="(@device.name)head">@device.name</h1>
    if (@device.DeviceFunctions == null)
    {

        <hr />
    }
    else
    {



        foreach (var funtion in device.DeviceFunctions)
        {


            <div class="card text-white bg-success mb-3" id="(@device.name@funtion.functionID)card" style="max-width: 15rem; max-height: 15rem; display: inline-block;">
                <form asp-controller="Device" asp-action="ControlFunction" method="get">
                    <div class="card-header"><h1>@funtion.functionname</h1></div>
                    <input type="hidden" value="@funtion.functionID" name="functionID" />
                    <input type="hidden" value="@device.name" name="deviceName" />
                    <div class="card-body">

                        <input type="submit" id="(@device.name@funtion.functionID)button" value="switch off" class="btn btn-danger" />
                        @if (funtion.RGB == true) { 
                        
                            <div id="picker"></div>
                        }

                    </div>
                </form>
            </div>

        }
        <hr />

    }
}
<script src="../lib/jquery/dist/jquery.min.js"></script>
<script src="../js/JarvisRefresh.js"></script>
<script src="../js/utill.js"></script>
 


