@model SmartHomeProject.Controllers.ControlModel
@{
    ViewData["Title"] = "Jarvis Control";
}

<hr/>
@if (Model.DeviceModels.Length == 0) {
    <h1>You have no smart home devices.</h1>
    <p>You can go to <a  asp-area="" asp-controller="Device" asp-action="AddDevice">"Add Device"</a> and add an device.</p>
}



@foreach (var device in Model.DeviceModels)
{
 
    <h1 id="(@device.name)head">@device.name</h1>
        if (device.DeviceFunctions != null)
        {
            foreach (var function in device.DeviceFunctions)
            {
            <div class="card text-white bg-success mb-3" id="(@device.name@function.functionID)card" style="display: inline-block; max-height: 15rem; max-width: 15rem;">
                <form asp-controller="Device" asp-action="ControlFunction" method="get">
                    <div class="card-header">
                        <h3>@function.functionname</h3>
                    </div>
                    <input type="hidden" value="@function.functionID" name="functionID"/>
                    <input type="hidden" value="@device.name" name="deviceName"/>
                    <div class="card-body">
                        <input type="submit" id="(@device.name@function.functionID)button" value="switch off" class="btn btn-danger"/>
                        @if (function.RGB)
                        {
                            <br/>
                            <div class="" style="margin-top: 1rem;">
                                <label>
                                    <strong>RGB color</strong>
                                </label>
                                <input type="button" id="@device.deviceID;@function.functionID" class="color form-control btn btn-primary" value="rgb(255, 128, 0)"/>
                            </div>
                        }

                    </div>
                </form>
            </div>
            }
        }
        if (device.Sensors != null)
        {
            foreach (var sensor in device.Sensors)
            {
            <div class="card text-white bg-success mb-3" id="(@sensor.sensorID)sensorcard" style="display: inline-block; max-height: 15rem; max-width: 15rem;">
                <div class="card-header">
                    <h3>@sensor.sensorname</h3>
                    <h5>@sensor.location</h5>
                </div>
                <div class="card-body">
                    <label id="(@sensor.sensorID)sensorstatus">@sensor.status</label>
                </div>
            </div>
        }

    }
    if (device.Sensors == null && device.DeviceFunctions == null) {     
            <p>Sorry, you do not have any function or sensor for this device. You can go to "<a asp-area = "" asp-controller = "Device" asp-action = "DeviceFunctions">DeviceFunctions</a>" and add a function to this device.</p>       
    }
    <hr/>
}
<script src="../js/JarvisRefresh.js"></script>
<script>
    $('.color').each(function (i, obj) {
        $(obj).colorpicker();
        $(obj).on('colorpickerChange', function (event) {
            $(obj).css('background-color', event.color.toString());
            var rgbData =
            {
                "red": event.color._color.red(),
                "green": event.color._color.green(),
                "blue": event.color._color.blue(),
                "alpha": event.color.alpha,
                "deviceID": parseInt($(obj).attr('id').split(";")[0]),
                "functionID": parseInt($(obj).attr('id').split(";")[1]),
                "rgba": event.color.toString()
            };             
            $.ajax({
                type: "POST",
                dataType: "json",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: location.origin + "/api/rgb/",
                data: JSON.stringify(rgbData),
                success: function (data) {
                    console.log("Change RGB to " + rgbData.rgba + " with response: " + data);                 
                },
                error: function (err) {
                    console.log("Error:");
                    console.log(err);                 
                }
            })
        })
    });
</script>